<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    
</head>
<body>
    <div class="container">
        <header>
            <h1>Pratech Resume Generator</h1>
        </header>
        <nav>
            <ul>
                <li><a href="#">Welcome, {{ request.user.username }}</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Create Resume</a>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Profile</a>
                        <a href="{% url 'degree' %}">Education</a>
                        <a href="{% url 'project' %}">Projects</a>
                        <a href="{% url 'skill' %}">Skills</a>
                    </div>
                </li>
                <li><a href="{% url 'user_details' %}">Resume</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
